*
{
    background: #222;
}

#grid-container
{
    display: grid;
    grid-template-columns: repeat(3, 10.2em);
    column-gap: 0.3em;
    row-gap: 0.3em;
}

.tile
{
    display:flex;
    border: 1px solid #fff;
    height: 10em;
    width: 10em;
    cursor:pointer;
    align-items: center;
    justify-content: center;
    
}

.tile:hover
{
    background: #444;
}

.icon-circle-empty, .icon-cancel
{
    color: white;
    height: 10em;
    width: 10em;
}

#winner
{
    font-size: 20px;
    color: white;
    padding: 1.4em;
    float:left;
}

.btn > button
{
    height:3em;
    width:6em;
    margin: 1.4em;
    color: white;
    position:absolute; left: 25em;
}

.btn > button:hover
{
    background: #fff;
    cursor: pointer;
    color: #222;
    font-weight: 700;
}
